*
{
    color: white;
}
h2{
    text-align: center;
}
h2 a
{
    color: green;
    text-decoration: none;
}
h2 a:hover
{
    text-decoration: underline;
}
table
{
    height: 200px;
    width: 600px;
}
table,tr,td
{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 10px;
    width: 500px;
    margin-left: 31%;
}
.c1
{
    background-color: rgba(45, 196, 171, 0.733);
}
.c2
{
    background-color: rgb(228, 87, 87);
}
.c3
{
    background-color: rgb(12, 247, 247);
}
.c4
{
    background-color: rgba(45, 196, 171, 0.733);
}
.c5
{
    background-color: rgb(228, 87, 87);
}
.c6
{
    background-color: rgb(12, 247, 247);
}
.c7
{
    background-color: rgb(132, 132, 228);
}
.c8
{
    background-color: rgb(12, 240, 12);
}
.c9
{
    background-color: brown;
}
.c10
{
    background-color: rgb(132, 132, 228);
}
.c11
{
    background-color: rgb(12, 240, 12);
}
.c12
{
    background-color: brown;
}
#c13
{
    background-color: rgb(255, 153, 0);
}
#c14
{
    background-color: blue;
}
#c15
{
    background-color: rgb(235, 139, 155);
}
#c16
{
    background-color: rgb(255, 153, 0);
}
#c17
{
    background-color: blue;
}
#c18
{
    background-color: rgb(235, 139, 155);

}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12
{
    text-align: left;
}
#c13,#c14,#c15,#c16,#c17,#c18
{
    text-align: left;
}